src/subflows/claude_content_analyzer.yaml
id: claude_content_analyzer
namespace: subflows

description: |
  Reusable subflow that uses the cybersecurity news agent container to fetch and analyze cybersecurity content.
  The agent includes built-in RSS fetching capabilities and pre-configured analysis skills.
  Supports different analysis types: daily (categorize and filter) or weekly (aggregate and identify trends).

inputs:
  - id: analysis_type
    type: STRING
    description: "Type of analysis: 'daily' or 'weekly'"
    defaults: "daily"

tasks:
  - id: analyze_with_claude
    type: io.kestra.plugin.scripts.shell.Commands
    description: Use cybersecurity news agent to fetch RSS feeds and analyze content
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      image: ghcr.io/dapperdivers/cybersecurity_news_agent:latest
    env:
      CLAUDE_CODE_OAUTH_TOKEN: "{{ globals['claude-code-oauth-token'] }}"
    outputFiles:
      - "analyzed_content.json"
    commands:
      - |
        # Run the cybersecurity news agent with built-in RSS fetching and analysis
        echo "Running agent-based analysis..."
        claude --dangerously-skip-permissions --agent news-aggregator "use the security-intelligence-analysis skill to create a daily briefing"

        # Agent writes output to /app/outputs/daily-brief-YYYY-MM-DD.json
        # Copy to Kestra's expected output location
        if [ -f /app/outputs/daily-brief-*.json ]; then
            echo "✅ Agent output found, copying to analyzed_content.json"
            cp /app/outputs/daily-brief-*.json analyzed_content.json
        else
            echo "⚠️  Error: Agent did not create the output file"
            echo '{"error": "Agent did not create the output file"}' > analyzed_content.json
        fi

        # Debug output
        echo "=== Analysis Output Debug ==="
        ls -lh analyzed_content.json
        echo "First 500 characters:"
        head -c 500 analyzed_content.json
        echo ""
        echo "=== End Debug ==="

outputs:
  - id: analyzed_content
    type: JSON
    value: "{{ read(outputs.analyze_with_claude.outputFiles['analyzed_content.json']) }}"
